<!-- templates/layout.tmpl -->
<html>
  <head>
    <title>My Layout</title>
  </head>
  <body>
    <!-- Render the current template here -->
    {{ yield }}<br/>
    The current template is <pre>{{ current }}</pre>
  </body>
</html>